<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-content" style="margin-left: 300px">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4> Service Master </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group" class="col-sm-4" style="margin-bottom: 10px">
                                <label for="service">Service:</label>
                                <input type="text" class="form-control" id="service">
                            </div>
                        </div>


                        <button type="button" class="btn btn-danger" style="margin-bottom: 20px">Save</button>
                    </form>

                    <div class="col-sm-10">
                        <div class="card">
                            <table class="table table-hover" style="margin-left: 0px">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Service</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>