<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="../../assets/img/digisol_Logo.png" style="max-width: 50px; max-height: 50px" />
        </div>
        BMS
    </a>
</div>
<div class="sidebar-wrapper">


    <div>
        <ul class="nav">
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="['/vendor']" class="nav-link"> <i class="material-icons">assignment</i>
                    <p>Vendor Master </p>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="['/create']" class="nav-link"> <i class="material-icons">receipt</i>
                    <p>Create Bill </p>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="[ '/serv' ]" class="nav-link"> <i class="material-icons">assignment_return</i>
                    <p>Service Master</p>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="['/cycle']" class="nav-link"> <i class="material-icons">restore</i>
                    <p>Bill Cycle Master </p>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="[ '/reminder' ]" class="nav-link"> <i class="material-icons">settings_applications</i>
                    <p>Reminder Configuration</p>
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a [routerLink]="[ '/schedule' ]" class="nav-link"> <i class="material-icons">list</i>
                    <p>Bill Schedules</p>
                </a>
            </li>
            <li routerLinkActive="active" class="active-pro nav-item">
                <a href="#" class="nav-link"> <i class="material-icons">exit_to_app</i>
                    <p>Logout </p>
                </a>
            </li>
        </ul>
    </div>
</div>