<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-content" style="margin-left: 300px">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4> Bill Cycle Master </h4>
                </div>
                <div class="card-body">
                    <mat-card>
                        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
                            <mat-form-field class="col-sm-6">
                                <input matInput type="text" name="billcycle" ngModel required placeholder="Bill Cycle Name" #billcycle="ngModel">
                                <mat-error *ngIf="billcycle.invalid">Please enter the Bill Cycle Name!</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-sm-6">
                                <input matInput type="number" name="months" ngModel required placeholder="Number of Months" #months="ngModel">
                                <mat-error *ngIf="months.invalid">Please enter the number of months!</mat-error>
                            </mat-form-field>

                            <button type="submit" class="btn btn-danger" style="margin-bottom: 20px">Save</button>
                        </form>
                    </mat-card>
                </div>
                <mat-accordion multi="true" *ngIf="posts.length>0">
                    <mat-expansion-panel *ngFor="let post of posts">
                        <mat-expansion-panel-header>
                            Bill Cycle Name: {{post.billcycle}}
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-6"> Months: {{ post.months}} </div>
                        </div>
                        <mat-action-row>
                            <button mat-button color="primary">EDIT</button>
                            <button mat-button color="warn">DELETE</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <p class="text-info mat-body-1" *ngIf="posts.length <= 0" style="margin-left: 30px"><strong> No Posts Added yet!! </strong></p>
            </div>
        </div>
    </div>
</div>