<div class="wrapper">
    <div class="main-content" style="margin-left: 300px">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4> Bill Schedule </h4>
                </div>
                <div class="card-body">
                    <mat-card>
                        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
                            <div class="row">
                                <mat-form-field class="col-sm-6">
                                    <mat-label>Vendor</mat-label>
                                    <select matNativeControl name="vendor" ngModel required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6">
                                    <mat-label>Service</mat-label>
                                    <select matNativeControl name="service" ngModel required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6">
                                    <input matInput type="text" name="billcycle" ngModel required placeholder="Billing Cycle" #billcycle="ngModel">
                                    <mat-error *ngIf="billcycle.invalid">Please enter the Billing Cycle!</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6">
                                    <input matInput type="text" name="firstrem" ngModel required placeholder="First Reminder in" #firstrem="ngModel">
                                    <mat-error *ngIf="firstrem.invalid">This field is required!</mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6">
                                    <input matInput type="text" name="followup" ngModel required placeholder="Follow Up" #followup="ngModel">
                                    <mat-error *ngIf="followup.invalid">Please enter the Value!</mat-error>
                                </mat-form-field>
                            </div>
                            <button type="submit" class="btn btn-danger" style="margin-right: 10px; margin-top: 20px; margin-bottom: 30px; margin-left: 10px">Save</button>
                        </form>
                    </mat-card>
                </div>
                <mat-accordion multi="true" *ngIf="posts.length>0">
                    <mat-expansion-panel *ngFor="let post of posts">
                        <mat-expansion-panel-header>
                            Vendor: {{post.vendor}}
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3">Service: {{post.service}} </div>
                            <div class="col-md-3"> Billing cycle: {{post.billcycle}} </div>
                            <div class="col-md-3"> First Reminder in: {{post.firstrem}}</div>
                            <div class="col-md-3"> Follow Up: {{post.followup}}</div>
                        </div>
                        <mat-action-row>
                            <button mat-button color="primary">EDIT</button>
                            <button mat-button color="warn">DELETE</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <p *ngIf="posts.length <= 0" style="margin-left: 30px; margin-top: 10px; color: red"><strong> No
                            Posts Added yet!!
                        </strong></p>
            </div>
        </div>
    </div>
</div>