<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-content" style="margin-left: 300px">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4> Bill Schedule </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group" class="col-sm-5" style="margin-bottom: 10px">
                                <label for="vendor">Vendor:</label>
                                <select class="form-control" id="vendor">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4
                                </option>
                                </select>
                            </div>
                            <div class="form-group" class="col-sm-5" style="margin-bottom: 10px">
                                <label for="ser">Service:</label>
                                <select class="form-control" id="ser">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4
          </option>
        </select>
                            </div>
                            <div class="form-group" class="col-sm-5" style="margin-bottom: 10px">
                                <label for="billcycle">Billing Cycle:</label>
                                <select class="form-control" id="billcycle">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4
          </option>
        </select>
                            </div>
                            <div class="form-group" class="col-sm-5" style="margin-bottom: 10px">
                                <label for="remind">First Reminder in:</label>
                                <input type="text" class="form-control" id="remind">
                            </div>

                            <div class="form-group" class="col-sm-5" style="margin-bottom: 10px">
                                <label for="follow">Follow Up:</label>
                                <input type="text" class="form-control" id="follow">
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" style="margin-right: 10px; margin-top: 20px; margin-bottom: 20px; margin-left: 10px">Save</button>
                        <button type="button" class="btn btn-outline-danger" style="margin-top: 20px; margin-bottom: 20px">Clear</button>
                    </form>
                    <div class="card">
                        <div class="col-sm-12">
                            <table class="table table-hover" style="margin-left: 0px">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Vendor</th>
                                        <th>Service</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>